h1{
    position: relative;
    top: 4rem;
    text-align: center;
    font-size: 1.5rem;
}
/* .test{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 100%;
    margin:1.2rem;
    border-radius: .5rem;
}
.test .card{
    background-color: rgb(25, 46, 65);
    color:blue
} */
.test{
    position: relative;
    top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
}
.test .card{
    width: 20rem;
    height: 25rem;
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
    padding: .5rem;
    display: flex;
    align-items: center;
    /* flex:1 1 10rem ; */
}